.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.75);
}

.modal {
	position: fixed;
	top: 15vh;
	min-width: 20rem;
	left: calc(50% - 10rem);
	background-color: white;
	padding: 1rem;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	z-index: 30;
}

h1 {
	text-align: center;
	margin-top: -1.5rem;
	margin-bottom: 1rem;
}

.close-button {
	display: flex;
	justify-content: flex-end;
	padding: 0;
}

.close-button span {
	color: var(--color-black);
	font-size: 28px;
	font-weight: bold;
	line-height: 18px;
	cursor: pointer;
}

@media (max-width: 768px) {
	.modal {
		left: 5%;
		width: 85%;
	}
}

@media (max-width: 425px) {
	.modal {
		overflow: scroll;
	}
}

@media (max-width: 320px) {
	.modal {
		width: 80%;
	}
}
